<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.80218751144-o7upgun7f9e9t3q5nacgnjdhas7bjrrk</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>GIDClientID</key>
	<string>80218751144-o7upgun7f9e9t3q5nacgnjdhas7bjrrk.apps.googleusercontent.com</string>
	<key>Icon Name (CFBundleIconName)</key>
	<string>AppIcon</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>gilroy_200.ttf</string>
		<string>gilroy_100.ttf</string>
		<string>gilroy_400.ttf</string>
		<string>gilroy_500.ttf</string>
		<string>gilroy_600.ttf</string>
		<string>gilroy_700.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
