<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>gilroy_200.ttf</string>
		<string>gilroy_100.ttf</string>
		<string>gilroy_400.ttf</string>
		<string>gilroy_500.ttf</string>
		<string>gilroy_600.ttf</string>
		<string>gilroy_700.ttf</string>
	</array>
</dict>
</plist>
